@model List<Features>
@{
    ViewData["Title"] = "Index";
}

<div class="content">

    <!-- Basic initialization -->

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">@ViewBag.CategoryName</h5>
        </div>
        <div class="d-flex align-items-center" >
            <div class="btn-create ml-3" style="color:white">
                <a class="btn btn-success" asp-action="Create" asp-route-categoryId="@ViewBag.CategoryId">Yarat</a>
            </div>
            <div class="btn-create ml-3" style="color:white">
                <a class="btn btn-primary" asp-action="OldFeatures" asp-route-categoryId="@ViewBag.CategoryId">Var olanardan Seç</a>
            </div>
        </div>
        <table class="table datatable-row-basic">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Features features in Model)
                {
                <tr>
                    <td>@features.Name</td>
                    <td class="d-flex justify-content-end">
                        <div class="list-icons">
                            <a asp-action="Update" asp-route-id="@features.Id" class="btn btn-lg" >Düzəliş et</a>
                            <a  asp-action="Delete" asp-route-id="@features.Id" class="btn btn-danger">Sil</a>
                        </div>
                    </td>
                </tr>



                }

            </tbody>
        </table>
    </div>

    <!-- /basic initialization -->
</div>

