@model List<BasketProductVM>
@{
    ViewData["Title"] = "Basket";
}
<main>
    <section id="cart">
        <div class="container">
            <div class="head-title">
                <h1>Səbət</h1>
            </div>
            <div class="row cart_row" id="cart_row">
                <div class="col-lg-8">
                    <div class="item-box-parent" id="item-box-parent">
                        <div class="item-box">
                            <button id="deleteAll" class="delete">
                                <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/eraser.png" alt="">
                                <p class="cart_remove_selecteds">Hamısını sil</p>
                            </button>
                        </div>
                        @foreach (BasketProductVM pro in Model)
                        {
                            <div class="cart_object">
                                <div id="selected-cart-item">
                                    <div class="chosen-cart">
                                        <div class="photo-box">
                                            <div class="imgHolder">
                                                <img src="~/img/products/@pro.ImageUrl">
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="features">
                                                        <p>
                                                            <a href="#">
                                                                @pro.Name
                                                            </a>
                                                        </p>
                                                        <div class="labels">
                                                            <div class="lbl-percentage">
                                                                <p>18 ay <span>Faizsiz</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="second-half">
                                                        <div class="quantity">
                                                            <p>Miqdar</p>
                                                            <button id="decrease" value="@pro.Id" style=" background-color: transparent; border: none; width: 10px;">-</button>
                                                            <input type="number" id="cart_amount" value="@pro.Count" min="0" class="amount cart_amount cart_amount_782962">
                                                            <button id="increase" value="@pro.Id" style="background-color: transparent; color: #ff003c; border: none; width: 10px; ">+</button>
                                                        </div>
                                                        <div class="price">
                                                            <p><span class="nprice" id="pricePro">@pro.Price</span> <small class="azn_span">‎₼</small></p>
                                                        </div>
                                                        <button class="remove cart_remove" id="cart_remove">
                                                            <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/bin.png" alt="">
                                                        </button>
                                                        <input type="hidden" id="cart_removeId" value="@pro.Id" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="total-price">
                                        <p>
                                            Cəmi: <span id="total-price">@pro.TotalPrice</span><span class="azn_span">‎ ‎₼</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="wrapper">
                        <h5>
                            Səbətdəki  ‎Məhsullar <span>
                            </span>
                        </h5>
                        <div class="about">
                            <div class="price">
                                <p>Məhsullar</p>
                                <p><span class="pricespan">@ViewBag.ItemsTitalPrice</span><span> ‎₼</span></p>
                            </div>
                        </div>
                        <div class="total">
                            <span class="pricetotal">@ViewBag.ItemsTitalPrice</span><span> ‎₼</span>
                        </div>
                    </div>
                    <div class="wrapper">
                        <a asp-action="Checkout" class="btn btn-success cash">Sifarişi rəsmiləşdir</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Script{
    <script>
            $(document).ready(function () {
                $(document).on("click", "#cart_remove", function () {
                    var cart_removeId = $(this).next().val();
                    $.ajax({
                        url: "/Products/RemoveBasket?id=" + cart_removeId,
                        type: "Get",
                        success: function (res) {
                            $("#cart_row").empty();
                            $("#cart_row").append(res);
                        }
                    });
                });
            })
        $(document).ready(function () {
            $(document).on("click", "#deleteAll", function () {
                $.ajax({
                    url: "/Products/AllRemoveBasket",
                    type: "Get",
                    success: function (res) {
                        $("#cart_row").empty();
                        $("#cart_row").append(res);
                    }
                });
            });
        })
      
        $(document).on("click", "#decrease", function () {
            let input = $(this).next().val(function (i,oldval) {
                return --oldval;
            })
        })
        $(document).on("click", "#increase", function () {
            let input = $(this).prev().val(function (i, oldval) {
                return ++oldval;
            })
        })
        $(document).ready(function () {
            $(document).ready(function () {
                $(document).on("click", "#increase", function () {
                    var productId = $(this).val();
                    $.ajax({
                        url: "/Products/IncreaseBasket?id=" + productId,
                        type: "Get",
                        success: function (res) {
                            $("#cart_row").empty();
                            $("#cart_row").append(res);
                        }
                    });
                });
            })
        })
        $(document).ready(function () {
            $(document).on("click", "#decrease", function () {
                var cart_removeId = $(this).val();
                $.ajax({
                    url: "/Products/DecreaseBasket?id=" + cart_removeId,
                    type: "Get",
                    success: function (res) {
                        $("#cart_row").empty();
                        $("#cart_row").append(res);
                    }
                });
            });
        })
       
    </script>
}
