@model List<BasketProductVM>
@{
    ViewData["Title"] = "Basket";
}
<main>
    <section id="cart">
        <div class="container">
            <div class="head-title">
                <h1>Səbət</h1>
            </div>
            <div class="row cart_row">
                <div class="col-lg-8">
                    <div class="item-box-parent" id="item-box-parent">
                        <div class="item-box">
                            <a asp-controller="Products" asp-action="AllRemoveBasket" id="deleteAll" class="delete">
                                <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/eraser.png" alt="">
                                <p class="cart_remove_selecteds">Hamısını sil</p>
                            </a>
                        </div>
                        @foreach (BasketProductVM pro in Model)
                        {
                            <div class="cart_object">
                                <div id="selected-cart-item">
                                    <div class="chosen-cart">
                                        <div class="photo-box">
                                            <div class="imgHolder">
                                                <img src="~/img/products/@pro.ImageUrl">
                                            </div>
                                        </div>
                                        <div class="details">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="features">
                                                        <p>
                                                            <a href="#">
                                                                @pro.Name
                                                            </a>
                                                        </p>
                                                        <div class="labels">
                                                            <div class="lbl-cash-discount">
                                                                <p>
                                                                    -<span class="cash-discount-782962">100 AZN nağd alışa</span>
                                                                </p>
                                                            </div>
                                                            <div class="lbl-percentage">
                                                                <p>18 ay <span>Faizsiz</span></p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="second-half">
                                                        <div class="quantity">
                                                            <p>Miqdar</p>
                                                            <input type="number" id="amount_782962" value="@pro.Count" min="0" class="amount cart_amount cart_amount_782962" data-id="782962">
                                                        </div>
                                                        <div class="price">
                                                            <p><span class="nprice" id="price-782962">@pro.Price</span> <small class="azn_span">‎₼</small></p>
                                                        </div>
                                                        <button class="remove cart_remove" id="cart_remove">
                                                            <img src="https://kontakt.az/wp-content/themes/kontakt7/ktn-assets/assets/bin.png" alt="">
                                                        </button>
                                                        <input type="hidden" id="cart_removeId" value="@pro.Id" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="total-price">
                                        <p>
                                            Cəmi: <span>@pro.TotalPrice</span><span class="azn_span">‎ ‎₼</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="wrapper">
                        <h5>
                            Səbətdəki  ‎₼əhsullar <span>
                            </span>
                        </h5>
                        <div class="about">
                            <div class="price">
                                <p>Məhsullar</p>
                                <p><span class="pricespan">4099.93</span><span> ‎₼</span></p>
                            </div>
                            <div class="price neqdalisaendirim_li">
                                <p>Nağd alış endirimi</p>
                                <p>
                                    <span class="pricediscount discount">440</span> <span>‎₼</span>
                                </p>
                            </div>
                        </div>
                        <div class="total">
                            <span class="pricetotal">3659.93</span><span> ‎₼</span>
                        </div>
                    </div>
                    <div class="wrapper">
                        <a type="button" href="#" class="btn btn-success cash">Sifarişi rəsmiləşdir</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section Script{
    <script>
            $(document).ready(function () {
                $(document).on("click", "#cart_remove", function () {
                    var cart_removeId = $(this).next().val();
                    $.ajax({
                        url: "/Products/RemoveBasket?id=" + cart_removeId,
                        type: "Get",
                        success: function (res) {
                            $("#item-box-parent").empty();
                            $("#item-box-parent").append(res);
                        }
                    });
                });
            })
        //$(document).ready(function () {
        //    $(document).on("click", "#deleteAll", function () {
        //        $.ajax({
        //            url: "/Products/AllRemoveBasket",
        //            type: "Get",
        //            success: function (res) {
        //                console.log(res)
        //                //$("#item-box-parent").empty();
        //                //$("#item-box-parent").append(res);
        //            }
        //        });
        //    });
        //})
    </script>
}
