@model CategoryVM
@{
    ViewData["Title"] = "Index";
}
<!-- Content area -->
<div class="content">

    <!-- Basic initialization -->
    <div class="card">
        <div class="card-header header-elements-inline">
            @if (Model.mainCategory != null)
            {
                <h5 class="card-title">Əsas Kateqoriyalar</h5>
            }
            else
            {
                <h5 class="card-title">Alt Kateqoriyalar</h5>
            }

        </div>
        <div class="btn-create ml-3" style="color:white">
            <a class="btn btn-success" asp-action="Create">Yarat</a>
        </div>
        <table class="table datatable-row-basic">
            @if (Model.mainCategory != null)
            {
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Şəkil</th>
                        <th>Ad</th>
                        <th>Təsviri</th>
                        <th>Status</th>
                        <th class="text-center">Settings</th>
                    </tr>
                </thead>
                @foreach (Category mainCg in Model.mainCategory)
                {
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td><img src="/img/Categories/@mainCg.Image" /></td>
                            <td>@mainCg.Name</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn" data-toggle="modal" data-target="#categories-@mainCg.Id">
                                    @((mainCg.Title.Length<30)? mainCg.Title: mainCg.Title.Substring(0,50))...
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="categories-@mainCg.Id" tabindex="-1" role="dialog" aria-labelledby="categories-@mainCg.Id" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @mainCg.Title
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @if (mainCg.IsDeleted)
                            {
                                <td><span class="badge badge-secondary">Inactive</span></td>
                            }
                            else
                            {
                                <td><span class="badge badge-success">Active</span></td>
                            }
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
                                            <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
                                            <a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            }
            @if (Model.subCategory != null)
            {
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Ad</th>
                        <th>Təsviri</th>
                        <th>Status</th>
                        <th class="text-center">Settings</th>
                    </tr>
                </thead>
                @foreach (Category subCg in Model.subCategory)
                {
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>@subCg.Name</td>
                            <td>
                                <!-- Button trigger modal -->
                                <button type="button" class="btn" data-toggle="modal" data-target="#categories-@subCg.Id">
                                    @((subCg.Title.Length<30)? subCg.Title:subCg.Title.Substring(0,50))...
                                </button>

                                <!-- Modal -->
                                <div class="modal fade" id="categories-@subCg.Id" tabindex="-1" role="dialog" aria-labelledby="categories-@subCg.Id" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                @subCg.Title
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @if (subCg.IsDeleted)
                            {
                                <td><span class="badge badge-secondary">Inactive</span></td>
                            }
                            else
                            {
                                <td><span class="badge badge-success">Active</span></td>
                            }
                            <td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
                                            <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
                                            <a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                }
            }

        </table>
    </div>

    <!-- /basic initialization -->
</div>
