@model List<Category>
@{
    ViewData["Title"] = "Default";
}
<!-- Sidebar-->

    @foreach (Category ct in Model)
    {
        <li>
            <a asp-controller="Products" asp-action="Index" asp-route-categoryId="@ct.Id">
                <div class="icon">
                    <img style="width:22px;max-height:30px" class="lazy loaded"
                         data-src="https://kontakt.az/wp-content/uploads/2021/03/telefon_planshet.png"
                         src="/img/Categories/@ct.Image"
                         data-was-processed="true"><img class="active lazy"
                                                        style="display:none;width:22px;max-height:30px"
                                                        data-src="https://kontakt.az/wp-content/uploads/2021/03/telefon_planshet.png">
                </div>
                <span class="title">@ct.Name</span>
            </a>
            <div class="menu-open">
                <ul>
                    @foreach (Category childCt in ct.Children)
                    {
                        <li>
                            <a asp-controller="Products" asp-action="Index" asp-route-categoryId="@childCt.Id">
                                <span>@childCt.Name</span>
                            </a>
                            <div class="menu-open-item">
                                <ul>
                                    @foreach (CategoryBrand childCtBrend in childCt.CategoryBrands)
                                    {
                                        if (childCtBrend.Brand.IsDeleted==false)
                                        {
                                            <li>
                                                <a asp-controller="Products" asp-action="Index" asp-route-brandId="@childCtBrend.BrandId">
                                                    <div class="photo">
                                                        <img src="~/img/sidebar/@childCtBrend.Brand.image">
                                                    </div>
                                                    <p>
                                                        @childCtBrend.Brand.Name
                                                    </p>
                                                </a>
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </li>
    }
 




